  <div id="player">
    <h3 class="text-center">Currently Playing</h3>

  <% if !@currently_playing.nil? %>

  <div class="row currently-playing-vote col-md-12">
    <%= link_to image_tag("thumbs-up.png"),
        place_vote_track_vote_path(
          uid: @currently_playing.id,
          vote: 1,
          uri: @currently_playing.uri,
          id: @currently_playing.id,
          track_id: @currently_playing.id
        ),
          class:"#{@votes.where(track_id: @track[0].id, vote: true).empty? ? 'active' : 'disabled'} btn btn-default home-page vote-btn",
          method: :put,
          remote: true
    %>
    <%= link_to image_tag("thumbs-down.png"),
        place_vote_track_vote_path(
          uid: @currently_playing.id,
          vote: 0,
          uri: @currently_playing.uri,
          id: @currently_playing.id,
          track_id: @currently_playing.id
        ),
          class:"#{@votes.where(track_id: @track[0].id, vote: false).empty? ? 'active' : 'disabled'} btn btn-default home-page vote-btn",
          method: :put,
          remote: true %>
  </div>

<div class="col-md-12">

  <div id="currently-playing">
    <img id="prev-albumimage" class="prev-album" src="<%= @currently_playing.album.images[0]['url'] %>" />
    <img id="albumimage" src="<%= @currently_playing.album.images[0]['url'] %>" />
    <img id="next-albumimage" class="next-album" src="<%= @currently_playing.album.images[0]['url'] %>" />
  </div>


<div id="track-info" class="text-center">
  <div id="trackname">
  <strong>
  <%= @currently_playing.name %>
  </strong>
by
    <strong>
    <% @currently_playing.artists.each do |artist| %>
    <%= artist.name %>
    <% end %>
    </strong>
  </div>
<div id="albumname">
  From
  <strong><%= @currently_playing.album.name %></strong>
  released 
  <strong><%= @currently_playing.album.release_date %></strong>
</div>
</div>
</div>
<% else %>
  <h1>We can't find the currently playing track</h1>
  <p>Something's gone wrong and we can't find a currently playing track. Either the app isn't logged in to Spotify, or there isn't anything currently playing.</p>
<% end %>
</div>
