<div id="recommended-section">
  <h3 class="text-center">Recommended</h3>
  <% @recommended.tracks.each do |track| %>
    <div class="recommended col-md-3">
      <%= link_to track.preview_url, rel: 'noreferrer', target: '_blank' do %>
        <img class="album-image" src="<%= track.album.images[0]['url'] %>" style="width:100px" />
      <% end %>
      <div class="add-track">
        <%= link_to "I love it!",add_a_track_track_path(uid: track.id, vote: 1, uri: track.uri, id: track.id, track_id: track.id),class:"btn btn-color track", method: :post, remote: true %>
      </div>
      <div class="track-info" class="text-center">
        <div id="artistname">
          <strong>Artist(s): </strong>
          <% track.artists.each do |artist| %>
          <%= artist.name %>
          <% end %>
        </div>
        <div id="trackname">
          <strong>Track name: </strong>
          <%= track.name %>
        </div>
        <div id="albumname">
          <strong>Album name: </strong>
          <%= track.album.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
