<div id="recommended-section">
  <h3 class="text-center">Recommended</h3>
  <% @recommended.tracks.each do |track| %>
    <div class="recommended col-md-3">
      <%= link_to track.preview_url, rel: 'noreferrer', target: '_blank' do %>
        <img id="albumimage" src="<%= track.album.images[0]['url'] %>" style="width:100px" />
      <% end %>
      <div class="track-info" class="text-center">
        <div id="artistname">
          <strong>Artist(s): </strong>
          <% track.artists.each do |artist| %>
          <%= artist.name %>
          <% end %>
        </div>
        <div id="trackname">
          <strong>Track name: </strong>
          <%= track.name %>
        </div>
        <div id="albumname">
          <strong>Album name: </strong>
          <%= track.album.name %>
        </div>
      </div>
    </div>
  <% end %>
</div>
