<table class="table table-hover">
  <th>Song</th><th>Artist</th><th>Tune Ups</th><th>Pipe Downs</th><th>Vote</th><th>Actions</th>
  <% @sorted_playlist.each do |track| %>
  <tr>
    <td><%= track.name %></td>
    <td><%= track.artist %></td>
    <td><%= track.num_up_votes %></td>
    <td><%= track.num_down_votes %></td>
    <td>
      <%= link_to image_tag(
      "thumbs-up.png",
      width: "30px"
    ),
      track_votes_path(
        dbid: track.id,
        vote: 1,
        track_id: track.id,
        id: track.id
      ),
      class: "#{@votes.where(track_id: track.id, vote: true).empty? ? 'active' : 'disabled'} btn btn-default track-listing vote-btn",
      method: :put,
      remote: true
      %>
        <%= link_to image_tag(
          "thumbs-down.png",
          width: "30px"
          ),
          track_votes_path(
            dbid: track.id,
            vote: 0,
            track_id: track.id,
            id: track.id
          ),
          class: "#{@votes.where(track_id: track.id, vote: false).empty? ? 'active' : 'disabled'} btn btn-default track-listing vote-btn",
          method: :put,
          remote: true
          %></td>
    <td>
        <%= link_to "Play",play_individual_track_path(track: track.uri),class:"btn btn-default", remote: true %>
        <%= link_to "Details",track_details_path(track: track.track_id),class:"btn btn-default" %>
        <% if admin_signed_in? %>
          <%= link_to image_tag("remove.png"),track_vote_path(dbid: track.id,id: track.id, track_id: track.id),class:"", method: :delete %>
        <% end %>
    </td>
  </tr>
  <% end %>
</table>
