
<div class="search_container container">
  <div class="col-md-8">

        <form class="form-horizontal">
        <div class="form-group">
          
          <div class="col-sm-12">
            <label>
            <input type="text" class="form-control" id="search" placeholder="Title/Artist/Album">
            </label>
          </div>
        </div>
      </form>
    <div id="results">
      
    </div>

    <table class="table">
      <th>Track name</th><th>Artist</th><th>Tune Ups</th><th>Pipe Downs</th><th>Vote</th><th>Actions</th>
        <% @playlist.each do |track| %>
          <tr>
            <td><%= track.name %></td>
            <td><%= track.artist %></td>
            <td><%= track.votes.where(:vote => true).count %></td>
            <td><%= track.votes.where(:vote => false).count %></td>
            <td><%= link_to "Tune Up",new_tracks_votes_path(dbid: track.id, vote: 1),class:"btn btn-default vote-btn"  %>
            <%= link_to "Pipe Down",new_tracks_votes_path(dbid: track.id, vote: 0),class:"btn btn-default vote-btn"  %></td>
            <td><%= link_to "Remove",tracks_votes_path(dbid: track.id),class:"btn btn-default", method: :delete %></td>
          </tr>
        <% end %>
    </table>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="info-sidebar">
      <h1>PLACEHOLDER</h1>
        <%= image_tag("sidebar.jpg", :alt => "sidebar", :width => "100%") %>
      </div>
  </div> 
</div>



