<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<h2>Current Spotify Playlist</h2>

<div class="container">
  <div class="col-md-8">
      <form class="form-horizontal">
        <div class="form-group">
          
          <div class="col-sm-12">
            <input type="text" class="form-control" id="search" placeholder="Type Title/Artist/Album">
          </div>
        </div>
      </form>

      
    <div id="results">
      
    </div>



  	<table class="table">
  	  <th>Track name</th><th>Artist</th><th>Vote</th><th>Actions</th>
  	    <% @playlist.tracks.each do |track| %>
  		    <tr>
  		      <td><%= track.name %></td>
  		      <td><%= track.artists.map(&:name).join(', ') %></td>
            <td><%= link_to "TuneUP",new_tracks_votes_path(uid: track.id, vote: 1),class:"btn btn-default"  %>
            <%= link_to "TuneDOWN",new_tracks_votes_path(uid: track.id, vote: 0),class:"btn btn-default"  %></td>
            <td><%= link_to "remove",tracks_path(uid: track.id),class:"btn btn-default", method: :delete %></td>
  		    </tr>
        <% end %>
 		</table>
  </div>



  <div class="row">
    <div class="col-md-4">





  </div> 
</div>





