<!DOCTYPE html>
<html>
  <head>
    <title>TuneUp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-action="<%= action_name %>" data-controller="<%= controller_path.gsub('/', '__') %>">
    <%= render "layouts/navigation" %>

    <div class="container-fluid theme-showcase" role="main">
      <%= render "layouts/errors" %>
      <% if current_user %>
      <%= render "layouts/search" %>  
      <% end %>

      <div class="row">
        <div class="col-md-8">  
            <%= yield %>
        </div>
      <% if current_user %>
        <div class="col-md4">
            <%= render "layouts/sidebar" %>
        </div>
      </div>
      <% end %>

    </div> <!-- /container -->    
  </body>
</html>
